@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    var image = Model?.Value<IPublishedContent>("clientTestimonialImage")?.Url() ?? "";
}
<div class="client-testimonials-section">
    <div class="client-testimonials-container">
        <div class="client-testimonials-content">
            <div class="client-testimonials-image">
                <img class="client-testimonials-img" src="@image"
                    alt="Kevin Gardner, client testimonial from Swebank">
            </div>
            <div class="client-testimonials-item">
                <div class="client-testimonials-item-heading">
                    <div class="client-testimonials-item-title">
                        <span>@Model?.Value("clientTestimonialSubTitle")</span>
                        @Model?.Value("clientTestimonialTitle")
                    </div>
                    <div class="client-testimonials-item-text">@Model?.Value("clientTestimonialText1")</div>
                    <div class="client-testimonials-item-icons">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <div class="client-testimonials-item-name">
                        <div class="client-testimonials-name">@Model?.Value("clientTestimonialText2")</div>
                        <div class="client-testimonials-company">@Model?.Value("clientTestimonialText3")</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>