@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{ 
    var mainImage = "/media/vobbt2t0/img-5-e1695109900349-1.png";
    var bgImage = "/media/5vjh1lhv/bg.svg";
    var bgDotImage = "/media/0tibj4kd/dot.svg";
}
    <div class="contact-info-srction">
        <div class="contact-info-container">
            <div class="contact-info-content">
                <div class="contact-info-images">
                    <img class="contact-info-man-image" src="@mainImage" alt="">
                    <img class="contact-info-bg" src="@bgImage" alt="">
                    <img class="contact-info-dt-bg" src="@bgDotImage" alt="">
                </div>
                <div class="contact-info">
                    <div class="contact-info-title">
                        Let us know about <br> your next project
                    </div>
                    <div class="contact-info-items">
                        <div class="contact-info-item">
                            <div class="contact-info-icon">
                                <i class="fa-solid fa-location-dot"></i>
                            </div>
                            <div class="contact-info-texts">
                                <div class="contact-info-text">
                                    Office location
                                    <span>Klarabergsviadukten 90, 111 52 Stockholm</span>
                                </div>
                            </div>
                        </div>
                        <div class="contact-info-item">
                            <div class="contact-info-icon">
                                <i class="fa-solid fa-phone"></i>
                            </div>
                            <div class="contact-info-texts">
                                <div class="contact-info-text">
                                    Phone number
                                    <span>+46 8 123 456 75</span>
                                </div>
                            </div>
                        </div>
                        <div class="contact-info-item">
                            <div class="contact-info-icon">
                                <i class="fa-solid fa-envelope"></i>
                            </div>
                            <div class="contact-info-texts">
                                <div class="contact-info-text">
                                    E-mail address
                                    <span>sales@onatrix.com</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>