@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<footer class="site-footer">
    <div class="footer-container">
        <p>© Onatrix. All Rights Reserved. Credits to <a href="https://themesflat.com"
                target="_blank">Themesflat</a></p>
    </div>
</footer>
