@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    var image = Model?.Value<IPublishedContent>("testimonialImage")?.Url() ?? "";
}
<div class="testimonial-section">
    <div class="testimonial-container">
        <div class="testimonial-content">
            <div class="testimonial-item">
                <img src="@image" alt="Tina Fox, CEO & Founder at Onatrix">
                <div class="testimonial-item-title">@Model?.Value("testimonialName")</div>
            </div>
            <div class="testimonial-texts">
                <div class="testimonial-quote-text">@Model?.Value("testimonialText1")</div>
                <div class="testimonial-text">@Model?.Value("testimonialText2")</div>
                <div class="testimonial-text">@Model?.Value("testimonialText3")</div>
                <div class="testimonial-text">@Model?.Value("testimonialText4")</div>
                <div class="testimonial-text">@Model?.Value("testimonialText5")</div>
                <div class="testimonial-text">@Model?.Value("testimonialText6")</div>
                <div class="testimonial-text">@Model?.Value("testimonialText7")</div>
                <div class="testimonial-text">@Model?.Value("testimonialText8")</div>
            </div>
        </div>
    </div>
</div>